aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asttokens
async-timeout
attrs
backcall
backports.zoneinfo
beautifulsoup4
bleach
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
dataclasses-json
decorator
defusedxml
distro
docopt
eval_type_backport
exceptiongroup
executing
faiss-cpu
fastapi
fastapi-cache2
fastjsonschema
filelock
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httpcore
httpx
huggingface-hub
idna
importlib_metadata
importlib_resources
ipython
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
matplotlib-inline
mistralai
mistune
mpmath
multidict
mypy_extensions
nbclient
nbconvert
nbformat
networkx
numpy
ollama
openai
orjson
packaging
pandocfilters
parso
pdfminer.six
pdfplumber
pendulum
pickleshare
pillow
pinecone-client
pinecone-plugin-inference
pinecone-plugin-interface
pipreqs
pkgutil_resolve_name
platformdirs
prompt_toolkit
propcache
proto-plus
protobuf
pure_eval
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
PyMuPDF
PyMuPDFb
pyngrok
pypdf
PyPDF2
pypdfium2
python-dateutil
python-dotenv
python-multipart
pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
simsimd
six
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
sympy
tenacity
threadpoolctl
time-machine
tinycss2
tokenizers
torch
tornado
tqdm
traitlets
transformers
typing-inspect
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
webencodings
yarg
yarl
zipp